<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <style type="text/css">
    .m15 {
      margin: 15px;
    }

    .tc {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
    }

    .col-sm-offset-4 {
      text-align: center;
    }
    /*.container{ width: 480px; margin-left: 480}*/
  </style>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>

<body screen_capture_injected="true">
  <div class="container">

    <form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post" action="/user/login">
      <fieldset>
        <legend></legend>
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="tc">请先登录</p>
          </div>
          <div class="" style="color: red">
            <%= err %>
          </div>
          <div class="panel-body m15">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" required>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" id="login0">登录</button>
            </div>
            <div class="form-group">
              <a href="/user/register">
                <button type="button" class="btn btn-info col-sm-2 col-sm-offset-10" id="register0">注册</button>
              </a>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div ng-app="myApp" ng-controller="customersCtrl">

  <ul>
    <li ng-repeat="x in users">
      {{ x}}
    </li>
  </ul>

  </div>

  <script>
  var app = angular.module('myApp', []);
  app.controller('customersCtrl', function($scope, $http) {
      $http.get("http://localhost:9000/users")
      .success(function(response) {$scope.users = response.records;});
  });
  </script>
</body>
</head>

</html>
