<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1><%= title %></h1>
    <p>Users to <%= title %></p>

    <ul>
   <% users.forEach(function(user){ %>
    <li>aa<%= user.username%></li>
   <% }) %>
</ul>


     <% include partials/footer %>
  </body>
</html>
