body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.panel{
  width: 480px;
  margin-left: 480px;
}
.panel-group{
  margin-top: 20px;
}
#headingOne{
    color: #31708f;
    background-color: #d9edf7;
}
.panel-title{
  font-size: 12px;
}
.answer{
  line-height: 30px;
}
form{
  text-align: center;
}
